
<div id="smartphone_page">
	    <img src="src/img/smartphone/smartphone_front.png" class="smartphone_full" alt="fullscreen">
	    <div id="smartphone_links">
	    	<div>
				<a href="#contacts" class="linkSmartphone">
				 	<img class="" src="src/img/smartphone/kontakte.png" >
				 	Kontakte
				</a>
			</div>
			<div>
				<a class="linkSmartphone smartphone_impressum">
					<img src="src/img/smartphone/hs.png">
					Impressum
				</a>
			</div>
		</div>
		<div class="impressum_container"></div>
		<a id="smartphone_info" class="smartphone_info">
		</a>
		<a href="#home" id="smartphone_back" data-rel="back"></a>
		
</div>


