<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.hsaugsburg.iam.desk"
	version 	= "0.9.0">

	<name>IAMDesk</name>

	<description>
		a app to promote course interactive media at HS-Augsburg, University of Applied Sciences.
	</description>
	<author href="iamdesk.de">
		Mathias Maier
	</author>
	<author href="iamdesk.de">
		martin kolb
	</author>
	<author href="iamdesk.de">
		katja weinmüller
	</author>
	<author href="iamdesk.de">
		simone ebeling
	</author>
	<author href="iamdesk.de">
		kathrin wende
	</author>
	<author href="iamdesk.de">
		martin semsch 
	</author>
	<author href="iamdesk.de">
		maximilian salcher
	</author>
	<author href="iamdesk.de">
		kilian semsch
	</author>
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="true" />
    
    <icon src="icon.png" gap:role="default" />
    <icon src="icon_57.png" gap:platform="ios" width="57" height="57" />
    <icon src="icon_72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icon_114.png" gap:platform="ios" width="114" height="114" />
    
    <icon src="icon_57.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icon_72.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icon_114.png" gap:platform="android" gap:density="hdpi" />
    
	<gap:splash src="splash.png" width="640" height="960" />
	<gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="landscape" />
	<preference name="webviewbounce" value="false" />
</widget>