<li>
    <a href="#dates/<%=model.id %>" data-rel="dialog" data-transition="slideup">
        <img src="<%=model.icon %>" />
        <p>
        <% if (model.start_date != model.end_date) { %>
            <b><%=model.start_date %>,</b> <%=model.start_time %>
            &nbsp; bis &nbsp;
            <b><%=model.end_date %>,</b> <%=model.end_time %>
        <% } else { %>
            <b><%=model.start_date %>,</b>
            <%=model.start_time %>&nbsp;-&nbsp;<%=model.end_time %>
        <% } %>
        </p>
        <h1><%=model.title %></h1>
    </a>
</li>


