    <div id="lpt_main_container"> 
        <div id="lpt_center_container"> 
	    	<img class="img_laptop" src="src/img/laptop/lpt_display.png" >
            
            
            <div class="lpt_folders">

						<!-- RENDER DYNAMIC ELEMENTS HERE -->
                                              
            </div>

 
            
            <!-- Menue -->
            <div class="lpt_menu1_container"><div class="lpt_menu1">
                <div class="lpt_text_menu1_projekt" >Projektarbeiten</div>
                <div class="lpt_text_menu1_info" >Infos zu Fächern</div>
                <a href="#home"><div class="lpt_text_menu1_shutdown" >Herunterfahren</div></a>
            	<img class="img_menu1" src="src/img/laptop/lpt_menu1.png" width="100%">
            </div></div>     
       		<div class="lpt_menu2_container"><div class="lpt_menu2">
					
						<!-- RENDER DYNAMIC ELEMENTS HERE -->

            </div></div>
            
            <!-- Taskbar -->
            <div class="lpt_taskbar_menu">Menu</div>                                     
            <div class="lpt_taskbar_time">Mo. 01:23</div>             
            <div class="lpt_taskbar_start"><img class="img_laptop" src="src/img/laptop/home_btn.png" ></div>
                         
           
                                                        
                        
        </div>       
        
        
    </div>