    <div class="lpt_main_container"> 
        <div class="lpt_center_container"> 
	    	<img class="img_laptop" src="src/img/laptop/lpt_display.png" >
            
            <!-- Ordner -->
            <div class="lpt_ordner_3d">
                <div class="lpt_text_ordner" >3D</div>   
            	<img class="img_ordner" src="src/img/laptop/lpt_ordner.png" width="100%">               
            </div>
       		<div class="lpt_ordner_games">
                <div class="lpt_text_ordner" >Games</div>   
            	<img class="img_ordner" src="src/img/laptop/lpt_ordner.png" width="100%">               
            </div>
       		<div class="lpt_ordner_interaktion">
                <div class="lpt_text_ordner" >Interaktion</div>   
            	<img class="img_ordner" src="src/img/laptop/lpt_ordner.png" width="100%">               
            </div>
       		<div class="lpt_ordner_web">
                <div class="lpt_text_ordner" >Web</div>     
            	<img class="img_ordner" src="src/img/laptop/lpt_ordner.png" width="100%">            
            </div>      
            
            <!-- Menue -->
            <div class="lpt_menu1_container"><div class="lpt_menu1">
                <div class="lpt_text_menu1_projekt" >Projektarbeiten</div>
                <div class="lpt_text_menu1_info" >Infos zu Fächern</div>
                <div class="lpt_text_menu1_shutdown" >Herunterfahren</div>
            	<img class="img_menu1" src="src/img/laptop/lpt_menu1.png" width="100%">
            </div></div>     
       		<div class="lpt_menu2_container"><div class="lpt_menu2">
                <div class="lpt_text_menu2_animation" >3D-Animation</div>
                <div class="lpt_text_menu2_games" >Games</div>
                <div class="lpt_text_menu2_interaktion" >Interaktion</div>
                <div class="lpt_text_menu2_web" >Web</div>                                       
            	<img class="img_menu2" src="src/img/laptop/lpt_menu2.png" width="100%">
            </div></div>
            
            <!-- Taskbar -->
            <div class="lpt_taskbar_start">Start</div>
            <div class="lpt_taskbar_time">Mo. 01:23</div>                          
           
                                                        
                        
        </div>       
        
        
    </div>