<div id="projectGallery">
<div class="slider_page">
	<div class="descr">
    	<div class="descrInner">Projekte</div>
    </div>
	<!--<div class="counter">
		<div class="counterInner">
			<a onclick="history.back();">
				<img src="src/img/slider/slider_back.png">
			</a>
			<a href="#home">
				<img src="src/img/slider/slider_home.png">
			</a>
		</div>
	</div>-->
	
	<div id="slider_back">
		<a onclick="history.back();">
			<img src="src/img/slider/back.png">
		</a>
	</div>
	
	<div id="slider_home">
		<a href="#home">
			<img src="src/img/slider/home.png">
		</a>
	</div>
	
   	<div id="sliderProjectContainer">
	<a id="arrLeftClick_Projects"><img src="src/img/slider/arrow_left.png" class="arrLeft"></img></a>
	<a id="arrRightClick_Projects"><img src="src/img/slider/arrow_right.png" class="arrRight"></img></a>
	
	<div id="sliderProject" class="slider" style="width: 100%; height: 100%;">
	  <ul class="slide_container">
	 	<!-- render Projects here -->
	  </ul>
	</div>
	
	</div>
</div>
</div> 
