<div id="projectGallery">
<div class="slider_page">
	<div class="descr">
    	<div class="descrInner">MedienSlider</div>
    </div>
	<div class="counter">
		<div class="counterInner"></div>
	</div>

   	<div id="sliderProjectContainer">
	<a  style="cursor: pointer" id="arrLeftClick_Projects"><img src="src/img/dvd/arrLeft.png" class="arrLeft"></img></a>
	<a   style="cursor: pointer" id="arrRightClick_Projects"><img src="src/img/dvd/arrRight.png" class="arrRight"></img></a>
	
	<div id="sliderProject" class="slider" style="width: 100%; height: 100%;">
	  <ul>
	    <li class="slide1">
	   <!-- <a href="#projectSlider" class="projectSquare" data-ajax="false">
    		<img src="src/img/dvd/film1.png">
    	</a>
    	
    	<a href="#projectSlider" class="projectSquare">
    		<img src="src/img/dvd/film1.png">
    	</a>
    	 <a href="#projectSlider" class="projectSquare">
    		<img src="src/img/dvd/film1.png">
    	</a>
    	
    	<a href="#projectSlider" class="projectSquare">
    		<img src="src/img/dvd/film1.png">
    	</a>
		</li>
		
	   <li style="display:none">
	    	 <a href="#projectSlider" class="projectSquare">
    		<img src="src/img/dvd/film2.png">
    	</a>
    	
    	<a href="#projectSlider" class="projectSquare">
    		<img src="src/img/dvd/film2.png">
    	</a>-->
	    </li>
	    <li  class="slide2">
	   
	    </li>
	  </ul>
	</div>
	
	</div>
</div>
</div> 
