<!-- Projektslider -->
<!--<<div id="#projectSlider">

<div class="page">
    <div class="descr">
    	<div class="descrInner">MedienSlider</div>
    </div>
    <div class="counter">
		<a href="#projectGallery">Zur&uuml;ck</a>
	</div>
	
    <div class="sliderContainer">
	<a  style="cursor: pointer" id="arrLeftClick_Project"><img src="src/img/dvd/arrLeft.png" class="arrLeft"></img></a>
	<a  style="cursor: pointer" id="arrRightClick_Project"><img src="src/img/dvd/arrRight.png" class="arrRight"></img></a>
	
	<div id="slider" class="slider" style="width: 100%; height: 100%;">
	  <ul>
	    <li style="display:block">
	    	<div class="swipeDiv">
	    		<img src="src/img/dvd/film1.png">
	    	</div>
		    	<div class="slideText">
		    	</div>
		</li>
	    <li style="display:none">
	    	<div class="swipeDiv">
	    		<img src="src/img/dvd/film2.png">
	    	</div>
		    	<div class="slideText">
		    	</div>
	    </li>
	  </ul>
	</div>
	</div>
</div>   
</div>   -->

<div id="projectGallery">
	
<div id="overlay_projectinfo">
	
		<div class="slider_page">
		    <div class="infoContainer">
		    	<div class="infoHeader">
		    		<div id="project_info_icon">
		    			<img src="src/img/dvd/film1.png">
		    		</div>
		    		<h1 id="profect_info_header">
		    			Lorem Ipsum - Bla bla
		    		</h1>
		    		<hr>
		    		<h2 id="profect_info_authors">
		    			Max Mustermann<br>
		    			Max Mustermann<br>
		    			Max Mustermann<br>
		    			Max Mustermann<br>
		    		</h2>
		    		<div style="clear: both"></div>
		    	</div>
		    	
		    	<div class="infoText" id="project_info_text">
		    		umy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gube
		    	</div>
				<div href="#projectSlider" class="infoFooter">
					<div id="sliderOverlay_back" class="infoBack"><img src="src/img/slider/slider_moreinfo_back.png"></div>
				</div>	    		
		    </div>
		</div>
	
</div>
	
	
<div class="slider_page">
	<div class="descr">
    	<div class="descrInner">MedienSlider</div>
    </div>
    <div class="counter">
    	<div class="counterInner">
			<a onclick="history.back();">
					<img src="src/img/slider/slider_back.png">
			</a>
			<a href="#home">
					<img src="src/img/slider/slider_home.png">
			</a>
		</div>
	</div>
	
    <div class="sliderContainer">
	<a  style="cursor: pointer" id="arrLeftClick_Project"><img src="src/img/dvd/arrLeft.png" class="arrLeft"></img></a>
	<a  style="cursor: pointer" id="arrRightClick_Project"><img src="src/img/dvd/arrRight.png" class="arrRight"></img></a>
	
	<div id="slider" class="slider" style="width: 100%; height: 100%;">
	  <ul>
	    

	  </ul>
	</div>
	
	</div>
	<div id="slider_info"><img src="src/img/slider/slider_moreinfo.png"></div>
</div>
</div> 

