<!-- all desk elements -->
<a href="#drawings"><img class="block" src="src/img/desk/<%=resolution %>/block.png"/></a>
<a href="#dvd"><img class="dvd" src="src/img/desk/<%=resolution %>/dvd.png"/></a>
<img class="zettel" src="src/img/desk/<%=resolution %>/zettel.png"/>
<a href="#dates"><img class="tickets" src="src/img/desk/<%=resolution %>/tickets.png"/></a>
<img class="postit" src="src/img/desk/<%=resolution %>/postit.png"/>
<a href="#camera"><img class="kamera" src="src/img/desk/<%=resolution %>/kamera.png"/></a>
<a href="#laptop"><img class="laptop" src="src/img/desk/<%=resolution %>/laptop.png"/></a>
<a href="#map"><img class="map" src="src/img/desk/<%=resolution %>/map.png"/></a>
<img class="polaroid" src="src/img/desk/<%=resolution %>/polaroid.png"/>
<a href="#smartphone"><img class="smartphone" src="src/img/desk/<%=resolution %>/smartphone.png"/></a>
<img class="stellenanzeige" src="src/img/desk/<%=resolution %>/stellenanzeige.png"/>
<a href="#tablet"><img class="tablet" src="src/img/desk/<%=resolution %>/tablet.png"/></a>
<a href="#calculator"><img class="taschenrechner_block" src="src/img/desk/<%=resolution %>/taschenrechner_block.png"/></a>
<img class="kaffee" src="src/img/desk/<%=resolution %>/kaffee.png"/>
<img class="apfel" src="src/img/desk/<%=resolution %>/apfel.png"/>

