<li>
	<div class="swipeDiv">
		<%=media %>
	</div>
	
	<div class="project_info_hidden">
		<div class="project_info_hidden_header">
			<%=project.title %>
		</div>
		<div class="project_info_hidden_author">
			<%=project.authors %>
		</div>
		<div class="project_info_hidden_text">
			<%=project.project_description %>
		</div>
		<div class="project_info_hidden_icon">
			<%=project.icon_uri %>
		</div>
		<div class="project_info_hidden_date">
			<%=project.term %>
		</div>
		<div class="project_info_hidden_uri">
			<%=project.uri %>
		</div>
	</div>
</li>

