<div id="tbl_content">
    <div class="inner-content">
        <div class="header ">
            <div class="collapsed clearfix">
                <div class="left">
                    <span class="icon"><img src="src/img/tablet/icon_back.png" /></span>
                    <span class="icon"><img src="src/img/tablet/icon_home.png" /></span>
                    <span class="icon"><img src="src/img/tablet/icon_info.png" /></span>
                </div>
                <div class="right">
                    <span class="icon"><img src="src/img/tablet/icon_wlan.png" /></span>
                    <span class="icon"><img src="src/img/tablet/icon_sound.png" /></span>
                    <span class="icon"><img src="src/img/tablet/icon_reception.png" /></span>
                    <span class="icon battery"><img src="src/img/tablet/icon_battery.png" /></span>
                    <span class="time">10:45</span>
                </div>
            </div>
            <div class="open clearfix">
                <div class="servicemenu first back">
                    <a href="#tablet">
                        <span class="icon"><img src="src/img/tablet/icon_back.png" /></span><br />
                        zurück
                    </a>
                </div>
                <div class="servicemenu home">
                    <a href="#home">
                        <span class="icon"><img src="src/img/tablet/icon_home.png" /></span><br />
                        schreibtisch
                    </a>
                </div>
                <div class="servicemenu last info">
                    <a href="">
                        <span class="icon"><img src="src/img/tablet/icon_info.png" /></span><br />
                        info
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <ul id="tbl_second_level_list" class="clearfix">
                <!-- menu list (SecondLevelListItems.html) -->
            </ul>
        </div>
    </div>
</div>
