<div id="map_content">
    <div id="inner-content">
         <img src="<%=pathPics %>/<%=img_uri %>" />
    </div>
    <div id="mapnavi-top">
        <div class="button">
            <a href="#map/klm">klm</a>
        </div>
        <div class="button">
            <a href="#map/j">j</a>
        </div>
        <div class="button">
            <a href="#map/w">w</a>
        </div>
    </div>
    <div id="mapnavi-bottom">
        <div class="button">
            <a href="#home">desk</a>
        </div>
    </div>
</div>
