<div id="map_content">
    <div id="inner-content">
         <img src="<%=pathPics %>/<%=img_uri %>" />
    </div>
    <div id="mapnavi-top">
        <div class="button">
            <a class="active" href="#map">Übersicht</a>
        </div>
        <div class="button">
            <a href="#map/klm">KLM-Bau</a>
        </div>
        <div class="button">
            <a href="#map/j">J-Bau</a>
        </div>
        <div class="button">
            <a href="#map/w">W-Bau</a>
        </div>
    </div>
    <div id="mapnavi-bottom">
        <div class="button home">
            <a href="#home"><span></span></a>
        </div>
    </div>
</div>
