<div id="map_content">
    <div id="map_navi">
        <b>(<%=floor.title %>)</b>
        <a href="#home">home</a>
        <a href="#map">back</a>
        <% if (floor.prev != "") { %>
            <a href="#map/<%=floor.house %>/<%=floor.prev %>">prev</a>
        <% } %>
        <% if (floor.next != "") { %>
            <a href="#map/<%=floor.house %>/<%=floor.next %>">next</a>
        <% } %>
    </div>
    <div id="inner-content">
         <img src="<%=pathPics %>/<%=floor.img_uri %>" />
    </div>
</div>
