<div id="map_content">
    <div id="inner-content">
        <div id="mapnavi-inner">
            <% if (floor.next != "") { %>
                <div class="button">
                    <a href="#map/<%=floor.house %>/<%=floor.next %>">stockwerk hoch</a>
                </div>
            <% } %>
            <% if (floor.prev != "") { %>
                <div class="button">
                    <a href="#map/<%=floor.house %>/<%=floor.prev %>">stockwerk runter</a>
                </div>
            <% } %>
        </div>
         <img src="<%=pathPics %>/<%=floor.img_uri %>" />
    </div>
    <div id="mapnavi-top">
        <div class="button">
            <a href="#map">Übersicht</a>
        </div>
        <div class="button">
            <a class="<% if (floor.house == 'klm') { %>active<% } %>" href="#map/klm">KLM-Bau</a>
        </div>
        <div class="button">
            <a class="<% if (floor.house == 'j') { %>active<% } %>" href="#map/j">J-Bau</a>
        </div>
        <div class="button">
            <a class="<% if (floor.house == 'w') { %>active<% } %>" href="#map/w">W-Bau</a>
        </div>
    </div>
    <div id="mapnavi-bottom">
        <div class="button home">
            <a href="#home"><span></span></a>
        </div>
    </div>
</div>
