    <div class="calc_main_container"> 
        <div class="calc_center_container"> 
	    	<img class="img_bg" src="src/img/calculator/calc_bg.png" >
            
            <!-- Content-->
			<div class="calc_content">
				<ul class="calc_element_template">
					
					<!-- RENDER DYNAMIC ELEMENTS HERE -->

				</ul>

            	
                <div class="calc_clear"></div>   
            </div>
            
            <!-- Navigation -->            
            <a href="#home"><div class="calc_navigation_back"><img class="img_content" src="src/img/calculator/calc_back.png" ></div></a>
            <div class="calc_navigation_info"><img class="img_content" src="src/img/calculator/calc_info.png" ></div>            
                        
                 
        </div>        
    </div>

























