/*=================================================== */
/*                 MAP GUI                            */
/*=================================================== */  

body.map_first_level #map_content,
body.map_second_level #map_content {
    position: relative;
    padding: 15px 0 0 15px;
    
}

body.map_first_level .ui-body-c,
body.map_second_level .ui-body-c {
    background: url('../img/calculator/calc_bg_pattern.png') repeat top left; 
}

body.map_first_level #inner-content,
body.map_second_level #inner-content {
    background: -moz-linear-gradient(65deg, rgba(232,232,232,0.5) 0%, rgba(255,255,255,0.8) 70%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(232,232,232,0.5)), color-stop(70%,rgba(255,255,255,0.8)));
    background: -webkit-linear-gradient(65deg, rgba(232,232,232,0.5) 0%,rgba(255,255,255,0.8) 70%);
    background: -o-linear-gradient(65deg, rgba(232,232,232,0.5) 0%,rgba(255,255,255,0.8) 70%);
    background: -ms-linear-gradient(65deg, rgba(232,232,232,0.5) 0%,rgba(255,255,255,0.8) 70%);
    background: linear-gradient(65deg, rgba(232,232,232,0.5) 0%,rgba(255,255,255,0.8) 70%);
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
    text-align: center;
}

body.map_first_level #inner-content img,
body.map_second_level #inner-content img {
    width: 100%;
}

body.map_first_level #mapnavi-top,
body.map_second_level #mapnavi-top {
    position: absolute;
    top: 30px;
    right: -80px;
}

body.map_first_level #mapnavi-bottom,
body.map_second_level #mapnavi-bottom {
    position: absolute;
    bottom: 20px;
    right: -80px;
}

body.map_second_level #mapnavi-inner {
    position: absolute;
    top: 25px;
    left: 25px;
}

body.map_first_level #mapnavi-top .button,
body.map_first_level #mapnavi-bottom .button,
body.map_second_level #mapnavi-top .button,
body.map_second_level #mapnavi-bottom .button {
    width: 80px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
}

body.map_first_level #mapnavi-top .button a,
body.map_first_level #mapnavi-bottom .button a,
body.map_second_level #mapnavi-top .button a,
body.map_second_level #mapnavi-bottom .button a {
    background: rgba(232,232,232,0.6);
    -webkit-border-top-right-radius: 0.6em;
    -moz-border-top-right-radius: 0.6em;
    border-top-right-radius: 0.6em;
    -webkit-border-bottom-right-radius: 0.6em;
    -moz-border-bottom-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #000;
}

body.map_first_level #mapnavi-top .button a.active,
body.map_second_level #mapnavi-top .button a.active {
    background: rgba(255,255,255,0.8);
}

body.map_first_level #mapnavi-bottom .button.home a span,
body.map_second_level #mapnavi-bottom .button.home a span {
    background: url('../img/map/icon_home.png') no-repeat center center;
    width: 27px;
    height: 27px;
    display: inline-block;
}
body.map_first_level #mapnavi-bottom .button.home a,
body.map_second_level #mapnavi-bottom .button.home a {
    line-height: 0;
}

body.map_second_level #mapnavi-inner .button {
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}

body.map_second_level #mapnavi-inner .button a {
    background: rgba(55,55,55,0.6);
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    -moz-box-shadow:    1px 1px 2px #444;
    -webkit-box-shadow: 1px 1px 2px #444;
    box-shadow:         1px 1px 2px #444;
}
