/***************************************/
/*			     Slider		 		   */
/***************************************/

.slider_page {
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.project_info_hidden {
	display: none;
}

.dvd_second_level, .dvd_third_level, 
.camera_second_level, .camera_third_level, 
.drawings_second_level, .drawings_third_level, 
.tablet_second_level, .tablet_third_level, 
.smartphone_second_level, .smartphone_third_level,
.laptop_second_level, .laptop_third_level, 
.calculator_second_level, .calculator_third_level {
	background: url(../img/calculator/calc_bg_pattern.png) !important;
}

.slider_page {
	height: 100%;
	position: relative;
	margin: 0 auto;
}

#projectGallery {
	height: 100%;
}

a.projectSquare {
	display: block;
	margin: 1% 0.5% 0 0.5%;
	float: left;
}

a.projectSquare img {
	width: 100%;
	display: block;
	border: 5px solid black;
}

.slide_container li {
	padding-left: 6.8%;
	padding-top: 2%;
}

.swipe li div, .swipe div div div {
  margin:0 10px;
  padding:50px 10px;
  background: rgba(230, 230, 230, 0.6);
  font-weight:bold;
  color:#fff;
  font-size:12px;
  text-align:center;
}

.slider ul {
	height: 90%;
	width: 75%;
	margin: 0 auto;
	font-size: 0.4em;
	background: #fff;
	padding: 0;
}

.slider ul li {
	text-align: center;
}

#sliderProjectContainer {
	position: absolute;
	top: 20.3%;
	width: 100%;
	left: 0;
	height: 85%;
}

#slider ul {
	width: 100%;
	margin-top: 20.5%;
    padding-bottom: 5%;
	height: 65%;
}

.sliderContainer {
	height: 100%;
}

.swipeDiv{
	position: relative;
}

.slideText {
	padding-right: 7%;
	font-size: 1.4em;
	color: #333;
	padding-left: 2%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-shadow: none !important;
}

@media (max-width: 550px) {
	
	.slideText {
		font-size: 0.8em;
	}
	
	.counter {
		font-size: 0.8em;
	}
	
}

@media (max-height: 350px) {
	
	.slideText {
		font-size: 0.8em;
	}
	
	.counter {
		font-size: 0.8em;
	}
}	
/*
.arrLeft {
	position: absolute;
	padding-left: 8%;
	left: -5%;
	top: 39%;
	height: 9%;
	cursor: pointer;
	z-index: 10;
	padding-top: 1%;
	padding-bottom: 1%;
}

.arrRight {
	position: absolute;
	padding-right: 8%;
	right: -5%;
	top: 39%;
	height: 9%;
	cursor: pointer;
	z-index: 10;
	padding-top: 1%;
	padding-bottom: 1%;
}*/

.arrRight, .arrLeft {
	height: 100%;
}

.arrLeft {
	display: none;
}

#arrLeftClick_Project, #arrLeftClick_Projects {
	z-index: 100;
	position: absolute;
	left: -4%;
	top: 49%;
	height: 5.2%;
	padding: 5%;
}

#arrRightClick_Project, #arrRightClick_Projects {
	z-index: 100;
	position: absolute;
	right: -4%;
	top: 49%;
	height: 5.2%;
	padding: 5%;
}

#arrRightClick_Projects, #arrLeftClick_Projects {
	height: 6%;
	top: 34%;
}

.counter {
	position: absolute; 
	top: 5%;
	font-size: 20px;
	right: 0;
	text-align: right;
	background: rgba(230, 230, 230, 0.6);
	height: 4%;
	width:30%;
	text-shadow: none !important;
	padding-bottom: 1%;
	color: #000;
}

.counterInner {
	height: 100%;
	width: 100%;
}

.counterInner a {
	height: 126%;
	display: block;
	width: 13%;
	float: right;
	margin-left: 3%;
	margin-right: 2%;
}

.counterInner a img {
	height: 100%;
	width: 100%;
	margin-right: 3%;
}

.descr {
	position: absolute;
	top: 2%;
	left: 0%;
	background-color: #eee;
	height: 17%;
	width: 100%;
	background: url(../img/slider/slider_head.jpg);
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	text-shadow: none !important;
	padding-bottom: 1%;
}

.descrInner {
	color: #000;
	position: relative;
	top: 34.6%;
	left: 34%;
	color: #9a9a9a;
	text-transform: lowercase;
}


.mediaPlayer {
	height: 100%;
	width: 50%;
	margin-left: 25%;
	position: relative;
}

.mediaPlayer_Layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.infoContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(230, 230, 230, 0.9);
	text-shadow: none !important;
}

.infoHeader img {
	width: 35%;
	float: left;
	margin-right: 4%;
	margin-left: 2%;
}

.infoHeader hr {
	margin-right: 4%;
	margin-left: 0;
}

.infoHeader h1 {
	padding-top: 2%;
	font-size: 20px;
	color: #333;
}

.infoHeader h2 {
	padding-top: 2%;
	font-size: 16px;
	color: #ae3923;
	font-weight: normal;
}

.infoText {
	margin-left: 2%;
	margin-top: 4%;
	margin-right: 2%;
}

.infoFooter {
	position: absolute;
	width: 100%;
	height: 7%;
	background: rgba(230, 230, 230, 0.4);
	bottom: 0;
	left: 0;
}

.infoFach {
	position: absolute;
	left: 2%;
	bottom: 2%;
	text-decoration: none;
	color: #333 !important;
	font-size: 12px;
}

.infoBack {
	position: absolute;
	left: 92%;
	bottom: 24%;
	text-decoration: none;
	color: #333 !important;
	cursor: pointer;
}

@media (max-height: 480px) {
	.counterInner, .counter a, .infoBack {
		font-size: 11px;
	}
	.infoText {
		font-size: 10px;
	}
	
	.infoHeader h1 {
		font-size: 18px;	
	}
	
	.infoHeader h2 {
		font-size: 14px;	
	}
}

@media (max-width: 640px) {
	.counterInner, .counter a, .infoBack  {
		font-size: 11px;
	}
	.infoText {
		font-size: 10px;
	}
	
	.infoHeader h1 {
		font-size: 18px;	
	}
	
	.infoHeader h2 {
		font-size: 14px;	
	}
}

@media (max-height: 320px) {
	.counterInner, .counter a, .infoBack  {
		font-size: 9px;
	}
	.infoText {
		font-size: 9px;
	}
	
	.infoHeader h1 {
		font-size: 16px;	
	}
	
	.infoHeader h2 {
		font-size: 12px;	
	}
}

@media (max-width: 450px) {
	.counterInner, .counter a, .infoBack  {
		font-size:9px;
	}
	.infoText {
		font-size: 9px;
	}
	
	.infoHeader h1 {
		font-size: 16px;	
	}
	
	.infoHeader h2 {
		font-size: 12px;	
	}
}

#projectSlider {
	position: relative;
}

#overlay_projectinfo {
	position: absolute;
	height: 100%;
	width: 100%;
	display: none;
	background: url(../img/calculator/calc_bg_pattern.png);
	z-index: 10100;
	text-shadow: none;
}

#sliderProject ul li {
	display: none;
}

#sliderProject ul li:first-child {
	display: block;
}

#slider_info {
	bottom: 1%;
	cursor: pointer;
	height: 4%;
	position: absolute;
	left: 92%;
	width: 5%;
	padding: 3%;
}

#slider_info img {
	height: 100%;
}

#sliderOverlay_back img {
	height: 100%;
}

#sliderOverlay_back {
	height: 60%;
	padding: 3%;
}

#slider_moreinfo {
	position: absolute;
	bottom: 2%;
	right: 50%;
	height: 7%;
	width: 5%;
	cursor: pointer;
}

#slider_moreinfo img {
	height: 100%;
}

#slider_home {   
    position: absolute; 
	height: 5%;
    left: 92%;
    top: 7%;
    width: 5%;
    z-index: 10000;
}

#slider_back {
	height: 5%;
    left: 83%;
    position: absolute;
    top: 7%;
    width: 5%;
    z-index: 10000;
}

#slider_back img, #slider_home img {
	width: 100%;
}

.arrLeft.arr_project {    
	/*height: 5.2%;
	left: -7%;
	top: 53%;*/
	height: 100%;
}

.arrRight.arr_project {
	/*right: -7%;
	top: 53%;
	height: 5.2%;*/
	height: 100%;
}

.slider_page {
	background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 5.9%, #FFFFFF 6%, #FFFFFF 97%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 0) 90%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5.9%,rgba(255,255,255,1) 6%,rgba(255,255,255,1) 97%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5.9%,rgba(255,255,255,1) 6%,rgba(255,255,255,1) 97%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5.9%,rgba(255,255,255,1) 6%,rgba(255,255,255,1) 97%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 90%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 5.9%,rgba(255,255,255,1) 6%,rgba(255,255,255,1) 97%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#project_info_date, #project_info_uri, #project_info_authors {
	margin-left: 40.5%;
}
