*{padding:0; margin:0;}

div.ui-content{
    padding:0px;
    overflow: visible;
}

#subnavi {
    padding:5px 20px;
}

#subnavi.ui-controlgroup {
    margin-bottom: 0;
}

.clear {
    clear: both;
}


/* * * * * * * * * * * * * * * * * * * * * *
 * CLEARFIX
 * * * * * * * * * * * * * * * * * * * * * */
 
.clearfix:after {  /* für Firefox, IE8, Opera, Safari, etc. */
    content: ".";  
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
* + html .clearfix { /* für IE7 */
    display: inline-block;
}
 
* html .clearfix { /* für IE6 */
    height: 1%;
}



  /*=================================================== */
  /*                 LOADING SCREEN                     */
  /*=================================================== */
  #loading-data{
      text-align:center;
      padding:50px;
      background: url('../img/ajax-loader.gif') no-repeat center center;
      background-color:#ffffff;
      overflow:hidden;
      position:fixed;
      height:100%;
      width:100%;
  }  
  

  /*=================================================== */
  /*                 INFO WRAPPER                       */
  /*=================================================== */  
  #info-wrapper{
      background-color:rgba(255, 255, 255, 0.0);
      overflow:hidden;
      position:fixed;
      z-index:999998;
      height:100%;
      width:100%;
      display:none;
  } 
     
  #info-layer{
      /*  margin:5%;*/
      padding:10%;
      /* border-radius:5px; */
      overflow:hidden;
      position:fixed;
      z-index:999998;
      height:80%;
      width:80%;
      font-family:verdana;
      background: rgba(255, 255, 255, 0.95) url('images/info.png') no-repeat center center;
  }
  
  @media (max-width: 900px) {
      #info-layer{
          padding:14%;
          height:72%;
          width:72%;
          font-size: 0.6em;
      }
  }

  
  #info-layer p {
      font-weight: bold;
      line-height: 1.8;
  }
  
  .info-layer-close {
      position: absolute;
      z-index:999999;
      top: 5%;
      right: 5%;
      width: 40px;
      height: 40px;
      background: url('images/close.png') no-repeat top left;
      display: hidden;
  }
  
  .no_internet_connection{
      font-size:5em;
  }


  /*=================================================== */
  /*                 DESK                               */
  /*=================================================== */

  .ui-page {
    background: url('../img/calculator/calc_bg_pattern.png') repeat top left;
  }

  body.home #main.low_resolution {
     background-image:url('../img/desk/low/background.jpg');
  }
  
  body.home #main.high_resolution {
     background-image:url('../img/desk/high/background.jpg');
  }
  
  body.home #main {
     -webkit-transform:translate3d(0,0,0);
     overflow: hidden;
     background-repeat: no-repeat;
  }
  
  body.home .ui-body-c img{
      -webkit-transform:translate3d(0,0,0);
      float:left;
      position:absolute;
  }
  
  body.home .tablet{
      width:34%;
      top: 35%;
      left: 28%;
      z-index:2;
  }
  
  body.home .block{
      width: 32%;
      top: -3%;
      left: -2%;
      z-index: 2;
  }

  body.home .polaroid{
      width: 20%;
      top: 50%;
      left: 62%;
  }
  
  body.home .stellenanzeige{
      width: 21%;
      top: 71%;
      left: 50%;
  }
  
  .stellenanzeige_container {
  	position: absolute;
  	left: 0;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(255, 255, 255, 0.5);
	
  	background-image: url("../img/stellenanzeige/stellenanzeige.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	
  	z-index: 5;
  	display: none;
  }
	
  .stellenanzeige {
  	cursor: pointer;
  }
	
  body.home .kaffee{
      width: 14%;
      top: 54%;
      left: 17%;
      z-index: 2;
  }  

  body.home .apfel{
      width: 12%;
      top: 75%;
      left: 25%;
      z-index: 2;
  }  
  
  body.home .postit{
      width: 12%;
      top: 83%;
      left: 20%;
  }  

  body.home .dvd{
      width: 15%;
      top: 13%;
      left: 32%;
      z-index:2;
  }

  body.home .zettel{
      width: 14%;
      top: 22%;
      left: 47%;
  }

  body.home .kamera{
      width: 21%;
      top: 66%;
      left: 1%;
      z-index:2;
  }
  
  body.home .laptop{
      width: 46%;
      top: -7%;
      left: 59%;
      z-index:2;
  }

  body.home .taschenrechner_block{
      width: 31%;
      top: 53%;
      left: 72%;
      z-index:2;
  }

  body.home .smartphone{
      width: 13%;
      top: 74%;
      left: 38%;
      z-index:2;
  }

  body.home .map{
      width: 28%;
      top: -1%;
      left: 30%;
  }

  body.home .tickets{
      width: 22%;
      top: 43%;
      left: 1%;
  }

  /*=================================================== */
  /*                 LAPTOP GUI                         */
  /*=================================================== */

  #lpt_main_container{ 
     width:100%; height:100%;
     position:fixed;
     background-color:#000;
     background-image:url('../img/laptop/lpt_bg.jpg');
     background-position:bottom;
     background-repeat:repeat-x;
  }
  #lpt_center_container{
     position: relative;
     top: 15px;
     margin: 0 auto;
     padding-top: 10px ,10px;
     width: 800px;
	 font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	 font-size:1em;
	 color:#0F0;
  }

  .lpt_folders{
     position:absolute;
     top: 7%;
     left: 8%;
     width:42%;
     height:37%;
     z-index:2;
  }
   
  .lpt_ordner{
     float:left;
     width:32%;
     z-index:2;
  }
      
  
  
  .lpt_text_ordner{
     position:absolute;
     width:25%;
     padding-left:3%;
     padding-top:21%;
     text-align:center;
     color:#FFF;    
     z-index:3; 
  }
  
  .lpt_menu1_container{
     position:absolute;
     overflow:hidden;        
     width:28%;
     height:39%;
     z-index:2;
     left:6%;
     top:44%;
  }  
  .lpt_menu1{
     position:absolute;
     width:100%;
     z-index:3;
     top:100%;
  } 
  
  .lpt_menu2_container{
     position:absolute;
     overflow:hidden;        
     width:28%;
     height:39%;
     z-index:2;
     left:36%;
     top:44%;
  }     
  .lpt_menu2{
     position:absolute;
     width:100%;
     height:95%;
     z-index:3;
     background-image: url('../img/laptop/lpt_menu2.png');
     background-repeat:no-repeat;
     background-size: 100% 100%;     
     opacity: 0;
     right:100%;
  } 
  
  .lpt_menue_theme{
    margin-left: 12%;
    margin-top: 7%;
    color:#333;    
  }
  
  a.lpt_menu_link:link{
    color:#333;
    text-decoration:none;
  }
  a.lpt_menu_link:visited{
    color:#333;
    text-decoration:none;
  }
  a.lpt_menu_link:hover{
    color:#333;
    text-decoration:none;
  }  
  
  a.lpt_folder_link:link{
    color:#FFF; 
    text-decoration:none;
  }
  a.lpt_folder_link:visited{
    color:#FFF; 
    text-decoration:none;
  }
  a.lpt_folder_link:hover{
    color:#FFF; 
    text-decoration:none;
  }    


  .lpt_text_menu1_projekt, .lpt_text_menu1_info, .lpt_text_menu1_shutdown {
     position:absolute;
     width:100%;
     color:#333;    
     z-index:3; 
  }
  .lpt_text_menu1_projekt{ margin-left:20%; margin-top:8%; }
  .lpt_text_menu1_info{ margin-left:20%; margin-top:25%; }
  .lpt_text_menu1_shutdown{ margin-left:20%; margin-top:82%; }      
  
   
  .lpt_taskbar_start{ 
    width: 25%;
    position:absolute; 
    z-index:3; 
    left:5%; 
    top:85.4%; 

 	/*background-image: url('../img/laptop/start_btn.png');  
    background-size: 100% ;
 	background-repeat: no-repeat; */
  }
  .lpt_taskbar_menu{ 
    width: 20%;
    font-weight:bold;
    position:absolute; 
    z-index:2; 
    left:12%; 
    top:86.5%; 
    color:#333;  
  }  
  
  .lpt_taskbar_time{ 
    width: 20%;
    font-weight:bold;
    position:absolute; 
    z-index:2; 
    left:81.5%; 
    top:86.5%; 
    color:#333;  
  }  
 
  .img_laptop{
    position:relative;
    width:100%;
  }
  .img_ordner, img_menu1, img_menu2{
    position:absolute;
    width:100%;
  } 


  /*===================================================	*/
  /*                 CAMERA GUI 					  	*/
  /*===================================================	*/
   
  .cam_main_container{ 
	width:100%; height:100%;
	position:fixed;
    background-image:url('../img/laptop/lpt_bg.jpg');
    background-position:bottom;
    background-repeat:repeat-x;
    background-size: auto 100% ;
    
  }
  .cam_center_container{
     position: relative;
     margin: 0 auto;
     padding-top: 10px ,10px;
     width: 800px;
  }

  
  .cam_button_info_container, .cam_button_up_container, .cam_button_down_container, .cam_button_power_container, .cam_button_pattern_container {
	 position:absolute;
	 width:15%;
	 height:13.2%;
	 overflow:hidden;	 
	 left:1.5%;
	 z-index:2;	 
  }
  .cam_button_info_container 	{ top: 5%;  } 
  .cam_button_up_container 		{ top: 20%; }
  .cam_button_down_container 	{ top: 35%; }
  .cam_button_pattern_container { top: 51%; }
  .cam_button_power_container 	{ top: 56%; }
  
  .cam_button_info 			{ position:absolute; width:100%;	z-index:3; 				}  
  .cam_button_info:active	{ position:absolute; width:100%; 	top: -100%; z-index:3; 	}  
  .cam_button_up 			{ position:absolute; width:100%;	z-index:3; 				}  
  .cam_button_up:active 	{ position:absolute; width:100%; 	top: -100%; z-index:3; 	}    
  .cam_button_down 			{ position:absolute; width:100%;	z-index:3; 				}  
  .cam_button_down:active 	{ position:absolute; width:100%; 	top: -100%; z-index:3; 	}    
  .cam_button_power 		{ position:absolute; width:100%;	z-index:3; 				}  
  .cam_button_power:active 	{ position:absolute; width:100%; 	top: -100%; z-index:3; 	}            
  
  .cam_button_info_container  a { outline: none; }
  
  
  .cam_display{
	 position:absolute;
	 width:82%;
	 height:80%;
	 z-index:2;
	 left:18%;
	 top:5%;
  }  
  
  .cam_display_play{
  	 position:absolute;
	 width:8%;
	 z-index:2;
	 left:6%;
	 top:5%;
  }
  
  .cam_display_content_container{
	 position:absolute;
	 overflow:hidden;
	 width:85%;
	 height:65%;
	 z-index:2;
	 left:5.8%;
	 top:17%;
  } 
  
  .cam_display_content{
	 position:absolute;
	 top: 0%;
	 width:93.5%;
	 height:100%;
	 z-index:3;
  }   
  
  .cam_theme   {
	 float:left;
	 width:100%;
	 height:25%;
	 z-index:2;	
	 background-image: url('../img/cam/cam_theme1.png');
	 background-repeat:no-repeat;
	 background-size: 100% 90%;
  }
  .cam_theme a {
  	 text-decoration: none;
	 color:#CCC;  	 
  }
 
	  .cam_theme_icon{
		 position:absolute;
		 width:16%;	
	  }
	  .cam_theme_topic_txt{
		 position:absolute;
		 color:#333;
		 width:60%;
		 left: 24%;	
         padding-top: 4%;
		 	  
	  }	  
	  .cam_theme_count_txt{
		 position:absolute;
		 color:#333;
		 font-weight:bold;
		 width:40%;
		 left: 68%;		
		 text-align:center; 
         padding-top: 4%; 
	  }	               

  .cam_display_info{
	 position:absolute;
	 top: 82%;
	 left:80%;
	 color:#CCC;
	font-style:normal;	 
  } 


  .cam_bg{
  	position:relative;
	width:100%;
  }
  .cam_img, .cam_img_Bup, .cam_img_Bdown{
  	position:absolute;
	width:100%;
  }  
  
  
  /*=================================================== */
  /*                 CALCULATOR GUI                     */
  /*=================================================== */
 
  .calc_main_container{ 
     width:100%; height:100%;
     position:fixed;
     background-image:url('../img/calculator/calc_bg_pattern.png');  
     background-repeat:repeat;
     
     
  }
  .calc_center_container{
     position: relative;
     top: 15px;
     margin: 0 auto;
     padding-top: 10px ,10px;
     width: 800px;
  }
  
  .calc_content{
     position:absolute;
     width:90%;
     height:70%;
     top: 15%;
     left: 5%;
     z-index:2;
     text-align:center;
     
  } 
  
  .calc_element_template{
    list-style:none;
  }
  
  .calc_element_template li {
    float:left;
    width:33%;
    
  }
  
  .calc_element_template li img{
     width:80%;
  }
  .calc_clear{
     clear:both;
  }  


 
  .calc_navigation_back, .calc_navigation_info {
     position:absolute;
     width:13%;
     top: 85%;   
     z-index:3;
  }
  .calc_navigation_back { left:8%;}  
  .calc_navigation_info{ left:80%;}  
  
  .img_bg{
    position:relative;
    width:100%;
  }  
  
  .img_content{
    position:absolute;
    width:100%;
  }  
  
  

  /*=================================================== */
  /*                 DVD GUI                             */
  /*=================================================== */  

.dvd_first_level {
	background: url("../img/calculator/calc_bg_pattern.png") repeat scroll left top transparent;
}

.ui-body-c {
	background: none;
}

#dvd_page {
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.dvd_full {
	height: 100%;
}

#dvd_links {
	position: absolute;
	top: 68.5%;
	left: 1.4%;
	width: 100%;
	height: 12.5%;
}


#dvd_back {
	position: absolute; 
	left: 93%;
	top: 89%;
	height: 10%;
	width: 10%;
}

#dvd_info {
	position: absolute; 
	left: 90%;
	top: 0%;
	height: 13%;
	width: 13%;
}

#dvd_links div {
	padding-top: 3%;
	height: 122%;
	text-align: center;
	float: left;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

#dvd_links div:last-child {
	margin-right: 0%;
}


a.linkDVD {
	text-shadow: none !important;
	color: #fff !important;
	text-decoration: none;
	font-size: 35px;
}

@media (max-height: 780px) {
	a.linkDVD {
	font-size: 31px;
	}
}

@media (max-width: 1070px) {
	a.linkDVD {
	font-size: 31px;
	}
}

@media (max-height: 690px) {
	a.linkDVD {
	font-size: 25px;
	}
}

@media (max-width: 960px) {
	a.linkDVD {
	font-size: 25px;
	}
}

@media (max-height: 600px) {
	a.linkDVD {
	font-size: 21px;
	}
}

@media (max-width: 960px) {
	a.linkDVD {
	font-size: 21px;
	}
}

@media (max-height: 450px) {
	a.linkDVD {
	font-size: 15px;
	}
}

@media (max-width: 620px) {
	a.linkDVD {
	font-size: 15px;
	}
}

@media (max-height: 350px) {
	a.linkDVD {
		font-size: 9px;
	}
}

@media (max-width: 480px) {
	a.linkDVD {
		font-size: 9px;
	}
}

*{padding:0; margin:0;}

div.ui-content{
    padding:0px;
    overflow: visible;
}

#subnavi {
    padding:5px 20px;
}

#subnavi.ui-controlgroup {
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.home_button{
    position:absolute;
    z-index:999;
    background:white;
    top:0;
    right:0;
    padding:3px;
}

/* * * * * * * * * * * * * * * * * * * * * *
 * CLEARFIX
 * * * * * * * * * * * * * * * * * * * * * */
 
.clearfix:after {  /* für Firefox, IE8, Opera, Safari, etc. */
    content: ".";  
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
* + html .clearfix { /* für IE7 */
    display: inline-block;
}
 
* html .clearfix { /* für IE6 */
    height: 1%;
}



  /*=================================================== */
  /*                 LOADING SCREEN                     */
  /*=================================================== */
  #loading-data{
      text-align:center;
      padding:50px;
      color:black;
  }  

  /*=================================================== */
  /*                 LAPTOP GUI                         */
  /*=================================================== */

  .lpt_main_container{ 
     width:100%; height:100%;
     position:fixed;
     background-color:#000;
     background-image:url('../img/laptop/lpt_bg.jpg');
     background-position:bottom;
     background-repeat:repeat-x;
     background-size: auto 100% ;
  }
  .lpt_center_container{
     position: relative;
     top: 15px;
     margin: 0 auto;
     padding-top: 10px ,10px;
     width: 800px;
	 font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	 font-size:1em;
	 color:#0F0;
  }

  .lpt_folders{
     position:absolute;
     top: 7%;
     left: 8%;
     width:42%;
     height:37%;
     z-index:2;
  }
   
  .lpt_ordner{
     float:left;
     width:32%;
     z-index:2;
  }
      
  
  
  .lpt_text_ordner{
     position:absolute;
     width:25%;
     padding-left:3%;
     padding-top:21%;
     text-align:center;
     color:#FFF;    
     z-index:3; 
  }
  
  .lpt_menu1_container{
     position:absolute;
     overflow:hidden;        
     width:28%;
     height:39%;
     z-index:2;
     left:6%;
     top:44%;
  }  
  .lpt_menu1{
     position:absolute;
     width:100%;
     z-index:3;
     top:100%;
  } 
  
  .lpt_menu2_container{
     position:absolute;
     overflow:hidden;        
     width:28%;
     height:39%;
     z-index:2;
     left:36%;
     top:44%;
  }     
  .lpt_menu2{
     position:absolute;
     width:100%;
     height:95%;
     z-index:3;
     background-image: url('../img/laptop/lpt_menu2.png');
     background-repeat:no-repeat;
     background-size: 100% 100%;     
     opacity: 0;
     right:100%;
  } 
  
  .lpt_menue_theme{
    margin-left: 12%;
    margin-top: 7%;
    color:#333;    
  }
  
  a.lpt_menu_link:link{
    color:#333;
    text-decoration:none;
  }
  a.lpt_menu_link:visited{
    color:#333;
    text-decoration:none;
  }
  a.lpt_menu_link:hover{
    color:#333;
    text-decoration:none;
  }  
  
  a.lpt_folder_link:link{
    color:#FFF; 
    text-decoration:none;
  }
  a.lpt_folder_link:visited{
    color:#FFF; 
    text-decoration:none;
  }
  a.lpt_folder_link:hover{
    color:#FFF; 
    text-decoration:none;
  }    


  .lpt_text_menu1_projekt, .lpt_text_menu1_info, .lpt_text_menu1_shutdown {
     position:absolute;
     width:100%;
     color:#333;    
     z-index:3; 
  }
  .lpt_text_menu1_projekt{ margin-left:20%; margin-top:8%; }
  .lpt_text_menu1_info{ margin-left:20%; margin-top:25%; }
  .lpt_text_menu1_shutdown{ margin-left:20%; margin-top:82%; }      
  
   
  .lpt_taskbar_start{ 
    width: 25%;
    position:absolute; 
    z-index:3; 
    left:5%; 
    top:85.4%; 

 	/*background-image: url('../img/laptop/start_btn.png');  
    background-size: 100% ;
 	background-repeat: no-repeat; */
  }
  .lpt_taskbar_menu{ 
    width: 20%;
    font-weight:bold;
    position:absolute; 
    z-index:2; 
    left:12%; 
    top:86.5%; 
    color:#333;  
  }  
  
  .lpt_taskbar_time{ 
    width: 20%;
    font-weight:bold;
    position:absolute; 
    z-index:2; 
    left:81.5%; 
    top:86.5%; 
    color:#333;  
  }  
 
  .img_laptop{
    position:relative;
    width:100%;
  }
  .img_ordner, img_menu1, img_menu2{
    position:absolute;
    width:100%;
  } 


  /*===================================================	*/
  /*                 CAMERA GUI 					  	*/
  /*===================================================	*/
   
  .cam_main_container{ 
	width:100%; height:100%;
	position:fixed;
    background-image:url('../img/laptop/lpt_bg.jpg');
    background-position:bottom;
    background-repeat:repeat-x;
    background-size: auto 100% ;
    
  }
  .cam_center_container{
     position: relative;
     margin: 0 auto;
     padding-top: 10px ,10px;
     width: 800px;
  }

  
  .cam_button_info_container, .cam_button_up_container, .cam_button_down_container, .cam_button_power_container, .cam_button_pattern_container {
	 position:absolute;
	 width:15%;
	 height:13.2%;
	 overflow:hidden;	 
	 left:1.5%;
	 z-index:2;	 
  }
  .cam_button_info_container 	{ top: 5%;  } 
  .cam_button_up_container 		{ top: 20%; }
  .cam_button_down_container 	{ top: 35%; }
  .cam_button_pattern_container { top: 51%; }
  .cam_button_power_container 	{ top: 56%; }
  
  .cam_button_info 			{ position:absolute; width:100%;	z-index:3; 				}  
  .cam_button_info:active	{ position:absolute; width:100%; 	top: -100%; z-index:3; 	}  
  .cam_button_up 			{ position:absolute; width:100%;	z-index:3; 				}  
  .cam_button_up:active 	{ position:absolute; width:100%; 	top: -100%; z-index:3; 	}    
  .cam_button_down 			{ position:absolute; width:100%;	z-index:3; 				}  
  .cam_button_down:active 	{ position:absolute; width:100%; 	top: -100%; z-index:3; 	}    
  .cam_button_power 		{ position:absolute; width:100%;	z-index:3; 				}  
  .cam_button_power:active 	{ position:absolute; width:100%; 	top: -100%; z-index:3; 	}            
  
  .cam_button_info_container  a { outline: none; }
  
  
  .cam_display{
	 position:absolute;
	 width:82%;
	 height:80%;
	 z-index:2;
	 left:18%;
	 top:5%;
  }  
  
  .cam_display_play{
  	 position:absolute;
	 width:8%;
	 z-index:2;
	 left:6%;
	 top:5%;
  }
  
  .cam_display_content_container{
	 position:absolute;
	 overflow:hidden;
	 width:85%;
	 height:65%;
	 z-index:2;
	 left:5.8%;
	 top:17%;
  } 
  
  .cam_display_content{
	 position:absolute;
	 top: 0%;
	 width:93.5%;
	 height:100%;
	 z-index:3;
  }   
  
  .cam_theme   {
	 float:left;
	 width:100%;
	 height:25%;
	 z-index:2;	
	 background-image: url('../img/cam/cam_theme1.png');
	 background-repeat:no-repeat;
	 background-size: 100% 90%;
  }
  .cam_theme a {
  	 text-decoration: none;
	 color:#CCC;  	 
  }
 
	  .cam_theme_icon{
		 position:absolute;
		 width:16%;	
		 left: 5%;
	  }
	  .cam_theme_topic_txt{
		 position:absolute;
		 color:#333;
		 width:60%;
		 left: 38%;	
         padding-top: 4%;
		 	  
	  }	  
	  .cam_theme_count_txt{
		 position:absolute;
		 color:#333;
		 font-weight:bold;
		 width:40%;
		 left: 68%;		
		 text-align:center; 
         padding-top: 4%; 
	  }	               

  .cam_display_info{
	 position:absolute;
	 top: 82%;
	 left:80%;
	 color:#CCC;
	font-style:normal;	 
  } 


  .cam_bg{
  	position:relative;
	width:100%;
  }
  .cam_img, .cam_img_Bup, .cam_img_Bdown{
  	position:absolute;
	width:100%;
  }  
  
  
  /*=================================================== */
  /*                 CALCULATOR GUI                     */
  /*=================================================== */
 
  .calc_main_container{ 
     width:100%; height:100%;
     position:fixed;
     background-image:url('../img/calculator/calc_bg_pattern.png');  
     background-repeat:repeat;
     
     
  }
  .calc_center_container{
     position: relative;
     top: 15px;
     margin: 0 auto;
     padding-top: 10px ,10px;
     width: 800px;
  }
  
  .calc_content{
     position:absolute;
     width:90%;
     height:70%;
     top: 15%;
     left: 5%;
     z-index:2;
     text-align:center;
     
  } 
  
  .calc_element_template{
    list-style:none;
  }
  
  .calc_element_template li {
    float:left;
    width:33%;
    
  }
  
  .calc_element_template li img{
     width:80%;
  }
  .calc_clear{
     clear:both;
  }  


 
  .calc_navigation_back, .calc_navigation_info {
     position:absolute;
     width:13%;
     top: 81%;   
     z-index:3;
  }
  .calc_navigation_back { left:8%;}  
  .calc_navigation_info{ left:80%;}  
  
  .img_bg{
    position:relative;
    width:100%;
  }  
  
  .img_content{
    position:absolute;
    width:100%;
  }  
  
  

 

  /*=================================================== */
  /*                 DVD GUI                             */
  /*=================================================== */  
#dvd_one {
	width: 100%;
	height: 100%;
}

.dvd_first_level {
	background: url("../img/calculator/calc_bg_pattern.png") repeat scroll left top transparent;
}

.ui-body-c {
	background: none;
}

#dvd_page {
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.dvd_full {
	height: 100%;
}

#dvd_links {
	position: absolute;
	top: 68.5%;
	left: 1.4%;
	width: 100%;
	height: 12.5%;
}


#dvd_back {
	position: absolute; 
	left: 78%;
	top: 4%;
	height: 12%;
	width: 11%;
}

#dvd_info {
	position: absolute; 
	left: 90%;
	top: 0%;
	height: 13%;
	width: 13%;
}

#dvd_links a {
	padding-top: 3%;
	height: 122%;
	background: -moz-linear-gradient(top,  rgba(76,76,76,0.9) 0%, rgba(28,28,28,0.84) 20%, rgba(43,43,43,0.78) 42%, rgba(137,137,137,0.62) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0.9)), color-stop(20%,rgba(28,28,28,0.84)), color-stop(42%,rgba(43,43,43,0.78)), color-stop(100%,rgba(137,137,137,0.62))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,0.9) 0%,rgba(28,28,28,0.84) 20%,rgba(43,43,43,0.78) 42%,rgba(137,137,137,0.62) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,0.9) 0%,rgba(28,28,28,0.84) 20%,rgba(43,43,43,0.78) 42%,rgba(137,137,137,0.62) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,0.9) 0%,rgba(28,28,28,0.84) 20%,rgba(43,43,43,0.78) 42%,rgba(137,137,137,0.62) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,0.9) 0%,rgba(28,28,28,0.84) 20%,rgba(43,43,43,0.78) 42%,rgba(137,137,137,0.62) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64c4c4c', endColorstr='#9e898989',GradientType=0 ); /* IE6-9 */
text-align: center;
	float: left;
	margin-right: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

#dvd_links a:last-child {
	margin-right: 0%;
}


a.linkDVD {
	text-shadow: none !important;
	color: #fff !important;
	text-decoration: none;
	font-size: 35px;
}

@media (max-height: 780px) {
	a.linkDVD {
	font-size: 31px;
	}
}

@media (max-width: 1070px) {
	a.linkDVD {
	font-size: 31px;
	}
}

@media (max-height: 690px) {
	a.linkDVD {
	font-size: 25px;
	}
}

@media (max-width: 960px) {
	a.linkDVD {
	font-size: 25px;
	}
}

@media (max-height: 600px) {
	a.linkDVD {
	font-size: 21px;
	}
}

@media (max-width: 960px) {
	a.linkDVD {
	font-size: 21px;
	}
}

@media (max-height: 450px) {
	a.linkDVD {
	font-size: 15px;
	}
}

@media (max-width: 620px) {
	a.linkDVD {
	font-size: 15px;
	}
}

@media (max-height: 350px) {
	a.linkDVD {
		font-size: 9px;
	}
}

@media (max-width: 480px) {
	a.linkDVD {
		font-size: 9px;
	}
}



	
/***************************************/
/*			SMARTPHONE GUI 			   */
/***************************************/

	
	.smartphone_first_level {
		background: url("../img/calculator/calc_bg_pattern.png") repeat scroll left top transparent;
	}

	#smartphone_page {
		height: 100%;
		position: relative;
		margin: 0 auto;
	}
	
	.smartphone_full {
		width: 100%;
	}

	#smartphone_links {
		position: absolute;
		top: 14.7%;
		left: 8.9%;
		width: 76.4%;
		height: 61%;


	}
	
	#contacts_links {
		position: absolute;
		top: 16%;
		left: 8.9%;
		width: 76.5%;
		height: 65.6%;

	}

	
	
	#contacts_links h4 {
		text-shadow: none;
		padding-left: 10%;
		padding-top: 0.6%;
		color: #f70;
		font-size: 5px;
		position: relative;
		z-index: 10;
	}
	
	#contacts_bg {
		position: absolute;
		border-right: 5px solid black;
		background-color: #333;
		top: -1.6%;
		left: 0.2%;
		height: 93.3%%;
		width: 40.8%;
		z-index: 0;
	}

	
	

	/*#contacts_links ul {
		position:absolute;
		height: 50%;
		width: 40%;
	}*/
	
	#contacts_links ul li{
		height: 20%;
		width: 40%;
	}
	
	#contacts_back {
		position: absolute;
		left: 10.2%;
		top: 82.2%;
		height: 7%;
		width: 5%;
	
		
	}
	
	#smartphone_back {
		position: absolute; 
		left: 10.2%;
		top: 76.2%;
		height: 7%;
		width: 5%;
	

	}
	
	#smartphone_info {
		position: absolute; 
		left: 80%;
		top: 76.2%;
		height: 6.5%;
		/*width: 4.7%;
		/*background-image: url("../img/smartphone/info_icon.jpg");
		background-position: center;
		background-size: cover;*/

	}
	
	#smartphone_info img {
		height: 100%;
	}
	
	#smartphone_links div {
		background-position: center;
		position: relative;
		padding-top: 2%;
		height: 22.7%;
		width: 14.5%;
		text-align: center;
		float: left;
		margin-right: 1%;
		padding-left: 2%;
		padding-right: 1%;

	}
	
	a.linkSmartphone {
		text-shadow: none !important;
		color: #fff !important;
		text-decoration: none;
		font-weight: bold;
		
	}
	
	.linkSmartphone{
		position: absolute;
		top: 10%;
		left: 10%;
		width: 85%;
	}
	
	.smartphone_impressum{

	}
	
	
	#smartphone_links img {
		height: 100%;
		width: 100%;
	}
	
	#smartphone_links div:last-child {
		margin-right: 0%;
	}
	
	 body.contacts_first_level .ui-body-c,
 	 body.contacts_second_level .ui-body-c {
     background: url('../img/calculator/calc_bg_pattern.png') repeat top left;   
 	}
 
 	.toggle_container {
 		position: absolute;
 		height: 55%;
 		width: 48%;
 		top: 14%;
 		left: 42.5%;
 		padding-left: 7%;
	 	padding-top: 10%;
	 	background-color: #fff;
	 	border-radius: 5%;
	 	opacity: 0.8;
 	}
 	.toggle_container p {

	 	text-shadow: none;
	 	line-height: 2;
 	}
 	
 	
 	@media (max-height: 780px) {
		.toggle_container .ui-li-desc  {
		font-size: 24px;
		}
	}
	
	@media (max-width: 1070px) {
		.toggle_container .ui-li-desc  {
		font-size: 24px;
		}
	}
	
	@media (max-height: 690px) {
		.toggle_container .ui-li-desc  {
		font-size: 20px;
		}
	}
	
	@media (max-width: 960px) {
		.toggle_container .ui-li-desc  {
		font-size: 20px;
		}
	}
	
	@media (max-height: 600px) {
		.toggle_container .ui-li-desc  {
		font-size: 16px;
		}
	}
	
	@media (max-width: 960px) {
		.toggle_container .ui-li-desc  {
		font-size: 16px;
		}
	}
	
	@media (max-height: 450px) {
		.toggle_container .ui-li-desc  {
		font-size: 12px;
		}
	}
	
	@media (max-width: 620px) {
		.toggle_container .ui-li-desc  {
		font-size: 12px;
		}
	}
	
	@media (max-height: 350px) {
		.toggle_container .ui-li-desc  {
			font-size: 9px;
		}
	}
	
	@media (max-width: 480px) {
		.toggle_container .ui-li-desc  {
			font-size: 9px;
		}
	}

 	
 	
 	.trigger {
 		font-weight: normal;
 	}
 
 	#contacts-listning {
 		box-shadow: none !important;
 	}
 
	
	

	



/***************************************/
/*			     Drawings	 		   */
/***************************************/

.drawings_first_level {
	background: url("../img/calculator/calc_bg_pattern.png") repeat scroll left top transparent;
}

#zb_full {
	height: 100%;
}

#zb_info {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 15%;
	width: 15%;
}

#zb_back {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 20%;
	width: 15%;	
}
	
#zb_page {
	height: 100%;
	position: relative;
	margin: 0 auto;
}

#zb_mediaPlayer {
	position: absolute;
	top: 35%;
	left: 24%;
	width: 48%
}

#zb_mediaPlayer img {
	width: 100%;
}

#drawings_links {
	width: 95%;
	position: absolute;
	left: 2%;
	top: 9%;
	height: 20%;
	background-color: #fff;
}

#drawings_links img {
	margin: 1%;
}

#drawings_links a, #drawings_links img {
	border: 0;
	text-decoration: none;
}