<div id="smartphone_page">
	 <img src="src/img/contacts/contacts_front.png" class="smartphone_full" alt="fullscreen">
    
    <div id="contacts_links">
	<!--<div id="contacts_bg"></div>-->
		<h4>Kontakte</h4>
	
	    <ul id="contacts-listning" class="full" data-role="listview" data-split-icon="plus" data-inset="true" data-split-theme="a" data-divider-theme="a">

	    </ul>

    </div>

	<a href="#home" id="smartphone_back"></a>
   	<a onclick="history.back();" id="contacts_back_new"></a>
</div>
