<li class="trigger" >
    <a href="#contacts/<%=model.id %>" data-rel="dialog" data-transition="slideup">
       <p> <%=model.title %>&nbsp;<%=model.firstname %>&nbsp;<%=model.lastname %></p>

    </a>
</li>

 <div class="toggle_container">
 	<p>
 		<i>funktion: </i><b><%=model.funktion %></b><br>
 		<i>name: &nbsp;&nbsp;&nbsp;</i><b><%=model.title %>&nbsp;</b>
		<b><%=model.firstname %>&nbsp;</b>
		<b><%=model.lastname %></b><br>
		<i>mail: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><b><%=model.email %></b><br>
		<i>tel.: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i><b><%=model.phone %></b>
	</p>
</div>
			
