 <div class="cam_main_container"> 
        <div class="cam_center_container"> 
	    	<img class="cam_bg" src="src/img/cam/cam_bg.png" >
            
            
            <!-- Buttons -->
            <div class="cam_button_info_container"><div class="cam_button_info"><img class="cam_img" src="src/img/cam/cam_bt_info.png" width="100%"></div></div>
            <div class="cam_button_up_container"><div class="cam_button_up"><img class="cam_img" src="src/img/cam/cam_bt_up.png" width="100%"></div></div>
            <div class="cam_button_down_container"><div class="cam_button_down"><img class="cam_img" src="src/img/cam/cam_bt_down.png" width="100%"></div></div>
            <div class="cam_button_pattern_container"><img class="cam_img" src="src/img/cam/cam_pattern1.png" width="100%"></div>         
            <div class="cam_button_power_container"><div class="cam_button_power"><img class="cam_img" src="src/img/cam/cam_bt_power.png" width="100%"></div></div>
                            
            <!-- Display-->
            <div class="cam_display"> 
                <img class="cam_img" src="src/img/cam/cam_display.png" >
                
                <div class="cam_display_play">
                	<img class="cam_img" src="src/img/cam/cam_play.gif" >	
                </div>
                
                <!-- Display Content-->
                <div class="cam_display_content_container">
                    <div class="cam_display_content">
						<!-- RENDER DYNAMIC ELEMENTS HERE -->
					</div>   		                                
                </div> 
                
				<div class="cam_display_info"></div>                 
                                 
            </div>     
             
        </div>        
</div>